
  <header>
    <h1>{{ title }}</h1>
    {% if date %}
      <p class="meta">{{ date | readableDate }}</p>
    {% endif %}
    {% if content_warning %}
      <p class="note"><strong>Note :</strong> {{ content_warning }}</p>
    {% endif %}
  </header>